@import "../abstracts/mixins";

.label {
  display: block;
  width: 100%;
}

.input-text {
  @include inputBase();
}

.input-textarea {
  @include inputBase();
  display: block;
  resize: none;
  width: 100%;
}

.input-border {
  @include inputBordered();
}

.input-border-focus {
  &:focus,
  &.focus {
    @include inputBorderedFocus();
  }
}