@import 'variables';

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
      + 'Please make sure it is defined `$breakpoints` map.';
  }
}

@mixin inputBase {
  background-color: var(--c-input-background);
  color: var(--c-input-text);
  border-radius: 0;
  padding: 10px;
  border: none;
}

@mixin inputBordered {
  border: #{$inputBorderThickness} solid var(--c-input-border);
  transition: border-color 200ms;
}
